.DS_Store
*.*~
*.py[co]
*.pid
*.log
*.swp
*.swo
*~
django_cache
.idea
settingscustom.py
.cache
beta-settingscustom.py
masq-settingscustom.py
tags
env/
/nginx.conf
/runserver.sh
temp

/celerybeat-schedule.db